{% extends "base.html" %}
{%load static%}

{%block static  %} Home Page | {% endblock%}

{%block content %}
    <h1>Welcome to the Home Page</h1>
    <p>This is the home page content.</p>
    <img src="{% static 'image/logo.jpg' %}" alt="Home Image">

    <form method="POST">
        {% csrf_token %} {% comment %} to prevent cross-site request forgery {% endcomment %}
                <input type="text" name="name" placeholder="Enter your name">
                <input type="password" name="password" placeholder="Enter your password">
        <button type="submit">Login</button>
    </form>

    <button onclick="showAlert()">Click Me</button>
{% endblock%}
